* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background: beige;
  font-family: Helvetica, Arial, sans-serif;
}

#title {
  display: grid;
  background: #36434f;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding: 1em 0.5em;
  width: 100px;
}

#title h1 {
  margin-top: auto;
  /* transform: rotate(180deg); */
}
